In [ ]:
# panda library (panel data)

In [2]:
import pandas as pd

In [4]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [9]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series({'a':10,'b':20,'c':30},index=['b','d','c','e','a'])

b    20.0
d     NaN
c    30.0
e     NaN
a    10.0
dtype: float64

In [14]:
s=pd.Series([1,2,3,4,5,6,7,8,9])

In [15]:
s[5]

6

In [16]:
s[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
s[2:4]

2    3
3    4
dtype: int64

In [18]:
s[-3:]

6    7
7    8
8    9
dtype: int64

In [19]:
t=pd.Series([1,2,3,4,5,6,7,8,9])

In [20]:
t+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [21]:
s+t

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64

In [22]:
s-t

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [23]:
s*t

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
8    81
dtype: int64

In [24]:
s/t

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
dtype: float64

In [25]:
s/10

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
5    0.6
6    0.7
7    0.8
8    0.9
dtype: float64

In [29]:

pd.DataFrame({"name":['bob','nik','mik'],"marks":[99,90,98]})

  name  marks
0  bob     99
1  nik     90
2  mik     98

In [38]:
Iris=pd.read_csv('Iris.csv')

In [39]:
Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [40]:
Iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [43]:
Iris.shape

(150, 6)

In [44]:
Iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [46]:
Iris.iloc[5:11,1:3]

    SepalLengthCm  SepalWidthCm
5             5.4           3.9
6             4.6           3.4
7             5.0           3.4
8             4.4           2.9
9             4.9           3.1
10            5.4           3.7

In [47]:
Iris.loc[5:11,("SepalLengthCm","Id","Species")]

    SepalLengthCm  Id      Species
5             5.4   6  Iris-setosa
6             4.6   7  Iris-setosa
7             5.0   8  Iris-setosa
8             4.4   9  Iris-setosa
9             4.9  10  Iris-setosa
10            5.4  11  Iris-setosa
11            4.8  12  Iris-setosa

In [49]:
Iris.drop('SepalWidthCm',axis=1)

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5           0.2     Iris-setosa
4      5            5.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
145  146            6.7            5.2           2.3  Iris-virginica
146  147            6.3            5.0           1.9  Iris-virginica
147  148            6.5            5.2           2.0  Iris-virginica
148  149            6.2            5.4           2.3  Iris-virginica
149  150            5.9            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [50]:
Iris.drop([2,3,5],axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [52]:
Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [53]:
Iris.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [54]:
Iris.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [55]:
Iris.mean()

C:\Users\hp\AppData\Local\Temp\ipykernel_10288\4049886577.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Iris.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [56]:
Iris.median()

C:\Users\hp\AppData\Local\Temp\ipykernel_10288\2264365522.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Iris.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [57]:
def make_double(s):
    return s*2

In [58]:
Iris[['SepalWidthCm','PetalWidthCm']].apply(make_double)

     SepalWidthCm  PetalWidthCm
0             7.0           0.4
1             6.0           0.4
2             6.4           0.4
3             6.2           0.4
4             7.2           0.4
..            ...           ...
145           6.0           4.6
146           5.0           3.8
147           6.0           4.0
148           6.8           4.6
149           6.0           3.6

[150 rows x 2 columns]

In [59]:
Iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [60]:
Iris.sort_values(by='SepalWidthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
62,63,6.0,2.2,4.0,1.0,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
16,17,5.4,3.9,1.3,0.4,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
33,34,5.5,4.2,1.4,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa